<section data-ng-controller="HomeController">
    <div class="row">
        <div class="flip col-md-3">
            <div class="card" ng-class="{'flipped':isFlipped}" ng-click="isFlipped=!isFlipped">
                <div class="face front">
                Front
            </div>
            <div class="face back">
                Back
            </div>
            </div>
        </div>
        <div class="flip col-md-3">
            <div class="card" ng-class="{'flipped':isFlipped}" ng-click="isFlipped=!isFlipped">
                <div class="face front">
                    Front
                </div>
                <div class="face back">
                    Back
                </div>
            </div>
        </div>
        <div class="flip col-md-3">
            <div class="card" ng-class="{'flipped':isFlipped}" ng-click="isFlipped=!isFlipped">
                <div class="face front">
                    Front
                </div>
                <div class="face back">
                    Back
                </div>
            </div>
        </div>
    </div>
</section>
